* {
    padding: 0;
    margin: 0;
}
h1{
    color: aqua;
}
main {
    position: absolute;
    width: 100%;
}
main {
    position: absolute;
    width: 100%;
}
p {
    white-space: pre-line;
}
h2{
    margin-left: 20px;
    padding-left: 10px;
}
.box-link{
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 100px;
}
.link-canvas{
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 100px;

}
.link-downloand{
    padding-left: 20px;
    margin-left: 10px;
    margin-top: 50px;

}
/********************************/
.button {
    
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }
/********************************/
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
/*******************************/
nav,
footer {
    background-color: #6F2BF6;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: 0.5;
}

.footerNav ul li a:hover {
   color: white;
   margin: 10px;
   text-decoration: none;
   font-size: 1em;
   opacity:0.7;
   transition:0.5;
}

.footerBottom {
    background-color: black;
    padding: 5px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100px;
    margin: 0 5px;
}

@media (max-width:700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100px;
        text-align: center;
        margin: 10px;
    }
}