* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@300&display=swap');
h1{
    color: aqua;
}
main {
    position: absolute;
    width: 100%;
}
main {
    position: absolute;
    width: 100%;
}
p {
    white-space: pre-line;
}
h2{
    text-align: center;
}
.box-link{
    padding-left: 5px;
    margin-left: 10px;

}


/**********************NAVBAR************************/

.navbar-nav {
    padding: 10px 0px;
}
/**************BOTÃO_DE_DWONLOAD******************/
.button {

    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
  }

  .button:hover::before {
    transform: scaleX(1);
  }

  .button-content {
    position: relative;
    z-index: 1;
  }

  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
/******** SECTION **************/
.section{
    padding-bottom: 100px;
    text-align: center;
}
/************RODAPE*******************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,500;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    background-color: #BAD1C2;
}

section {
    background-color: #BAD1C2;
}


nav .navbar-brand {
    color: #ffffff;
}

nav .navbar-brand:hover {
    color: #ffffff;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}


header p {
    color: black;
    font-family: 'Poppins', sans-serif;
}

.Pick-up {
    width: 100px;
    height: 3em;
    border-radius: 50px;
    font-size: 15px;
    padding: 10px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-color: #6F2BF6;
}

.Pick-up::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 10;
    background-image: linear-gradient(to right, #6F2BF6 0%, black 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.Pick-up:hover::before {
    width: 9em;
}

.container p {
    color: black;
    font-family: 'Poppins', sans-serif;
}

main {
    position: absolute;
    width: 100%;
    height: 100%;
}


p {
    white-space: pre-line;
}

.container-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TextImage {
    display: flex;
    flex-wrap: wrap;
    animation: changeColor 5s infinite;
}

.TextImage p {
    flex: 1;
    margin-right: 20px;
}

.TextImage img {
    flex: 1;
    max-width: 100%;
    height: auto;
}

.box-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20em;
}
.link-canvas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.link-downloand{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
/********************************/
.button {
    
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }
/********************************/
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
}
.button:hover::before {
  transform: scaleX(1);
}
.button-content {
  position: relative;
  z-index: 1;
}
.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
/*******************************/
.tooltip-social {
    background: #000000;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
}
.tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
}
.social-media a .tooltip-social:after {
    border-top-color: #262626;
}
.social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
}
/*****************/
nav {
    background-color: #6F2BF6;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer {
    position: fixed;
    background-color: #6F2BF6;
    bottom: 0;
    width: 100%;
    padding-bottom: 7px;

}
.footerContainer {
    height: 70px;
    box-sizing: border-box;
}
.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}
.socialIcons {
    display: flex;
    justify-content: center;
}
.socialIcons a {
    text-decoration: none;
    padding: 3px;
    background-color: white;
    margin: 3px;
    border-radius: 40%;
}
.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}
.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a {
    color: white;
    margin: 5px;
    text-decoration: none;
    font-size: 100px;
    opacity: 0.7;
    transition: 0.5;
}
.footerNav ul li a:hover {
    opacity: 1;
}
.footerBottom {
    background-color: black;
    padding: 2px;
    text-align: center;
}
.footerBottom p {
    color: white;
}
.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100px;
    margin: 0 5px;
}